{% extends 'cal/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% csrf_token %}

{% block content %}

<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
  </div>


{% for event in events %}
<center>
<!--    <script>-->
<!--    var title = event.title;-->
<!--    var calender = /cal/calendar;-->
<!--    var total = calendar + title;-->
<!--    document.write('<a href ="' + total + '">{{event.title}} </a>');-->
<!--    </script>-->

<!--    &lt;!&ndash; <a href = "/cal/calendar" >{{event.title}}</a> &ndash;&gt;-->

<h3>{{event.title}}</h3>
Location: <a href =  '/route/{{event.location}}'> {{event.location}}</a>
<br>Start Time: {{event.start_time}}</br>
<br> End Time: {{event.end_time}}</br>
</center>
{% endfor %}
{% endblock %}